@font-face {
  font-family: 'Norse';
  src: url('norse/Norse.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background-container {
  background: url(leaves.jpg);
}

a {
  text-decoration: none;
}

fieldset a {
  color: #596D48;
}